@model IEnumerable<PSP_Merch_Store.Models.Products>
@{
    ViewBag.Title = "Search";
}

<h2>Резултати од пребарувањето</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NameOfProduct)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImagePath)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Size)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Manufacturer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Color)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rating)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NameOfProduct)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price) ден.
            </td>
            <td>
                <img src="@item.ImagePath" alt="Alternate Text" width="210" height="240" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Size)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Manufacturer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                <span class="stars" data-rating="@item.Rating" data-num-stars="5"></span>
            </td>
            <td>
                @if (User.IsInRole("Administrator"))
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.ProductsId }) <br />
                    @Html.ActionLink("Delete", "Delete", new { id = item.ProductsId }) <br />
                }
                @Html.ActionLink("Details", "Details", new { id = item.ProductsId })
                <a href="/ShoppingCart/AddToCart?ProductsId=@item.ProductsId" style="background-color:green;color:white;text-decoration:none;display:block;border-radius:10px;width:100px;">
                    Додај во кошничка
                    <img src="~/UploadedFiles/add_to_cart_icon.png" width="18" height="18" />
                </a>

            </td>
        </tr>
    }

</table>
@section scripts{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="~/Scripts/jquery.rating.js"></script>
    <script>
        $.fn.stars = function () {
            return $(this).each(function () {
                const rating = $(this).data("rating");
                const numStars = $(this).data("numStars");
                const fullStar = '<i class="fas fa-star"></i>'.repeat(Math.floor(rating));
                const halfStar = (rating % 1 !== 0) ? '<i class="fas fa-star-half-alt"></i>' : '';
                const noStar = '<i class="far fa-star"></i>'.repeat(Math.floor(numStars - rating));
                $(this).html(`${fullStar}${halfStar}${noStar}`);
            });
        }
        $(document).ready(function () {
            $(function () {
                $('.stars').stars();
            });
        });
    </script>
}

